<a href="https://colab.research.google.com/github/ghanshyam17/gsportfolio/blob/master/cricbuzz_fantasy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pycricbuzz

Requirement already satisfied: pycricbuzz in /usr/local/lib/python3.6/dist-packages (2.4)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pycricbuzz) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pycricbuzz) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pycricbuzz) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pycricbuzz) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pycricbuzz) (2020.6.20)

In [ ]:
import pandas as pd
import numpy as np
import json

Create a cricbuzz object to access match details

In [ ]:
from pycricbuzz import Cricbuzz
c = Cricbuzz()

Matches function returns all the recent match summary

In [ ]:
matches = c.matches()

Store the data in json external file

In [ ]:
with open("matches.json", "w") as write_file:
    json.dump(matches, write_file)

First Dump the data obtained from matches function and store the data in a variable

In [ ]:
matches_data = json.dumps(matches, indent=4, sort_keys=True)

In [ ]:
print(matches_data)

[
    {
        "id": "30439",
        "mchstate": "inprogress",
        "mnum": "28th Match",
        "official": {
            "referee": {
                "country": "IND",
                "id": "8968",
                "name": "Vengalil Narayan Kutty"
            },
            "umpire1": {
                "country": "ENG",
                "id": "5398",
                "name": "Richard Illingworth"
            },
            "umpire2": {
                "country": "IND",
                "id": "8914",
                "name": "Krishnamachari Srinivasan"
            },
            "umpire3": {
                "country": "IND",
                "id": "8871",
                "name": "KN Anantha Padmanabhan"
            }
        },
        "srs": "Indian Premier League 2020",
        "start_time": "2020-10-12 14:00:00",
        "status": "RCB opt to bat",
        "team1": {
            "name": "Royal Challengers Bangalore",
            "squad": [
                "Devdutt Padikkal",
                "Finch",
                "Kohli",
                "de Villiers",
                "Washington Sundar",
                "Shivam Dube",
                "Chris Morris",
                "Udana",
                "Navdeep Saini",
                "Siraj",
                "Chahal"
            ],
            "squad_bench": [
                "Moeen Ali",
                "Negi",
                "Zampa",
                "Pavan Deshpande",
                "Philippe",
                "Shahbaz Ahmed",
                "U Yadav",
                "Steyn",
                "Parthiv Patel",
                "Gurkeerat Singh"
            ]
        },
        "team2": {
            "name": "Kolkata Knight Riders",
            "squad": [
                "Tripathi",
                "Shubman Gill",
                "Nitish Rana",
                "Morgan",
                "Karthik",
                "Tom Banton",
                "Russell",
                "Cummins",
                "K Nagarkoti",
                "Prasidh",
                "Chakravarthy"
            ],
            "squad_bench": [
                "Kuldeep Yadav",
                "Warrier",
                "Lad",
                "Nikhil Naik",
                "Chris Green",
                "Ferguson",
                "Rinku Singh",
                "Ali Khan",
                "Shivam Mavi",
                "Manimaran Siddharth",
                "Narine"
            ]
        },
        "toss": "Royal Challengers Bangalore elect to bat",
        "type": "T20",
        "venue_location": "Sharjah, United Arab Emirates",
        "venue_name": "Sharjah Cricket Stadium"
    },
    {
        "id": "30585",
        "mchstate": "stump",
        "mnum": "2nd Match",
        "official": {
            "referee": {
                "country": "AUS",
                "id": "8167",
                "name": "Bob Stratford"
            },
            "umpire1": {
                "country": "AUS",
                "id": "6841",
                "name": "Bruce Oxenford"
            },
            "umpire2": {
                "country": "AUS",
                "id": "12220",
                "name": "Darren Close"
            }
        },
        "srs": "Sheffield Shield 2020-21",
        "start_time": "2020-10-10 00:00:00",
        "status": "Day 3: Stumps - TAS trail by 193 runs",
        "team1": {
            "name": "Queensland",
            "squad": [
                "Burns",
                "Bryce Street",
                "Labuschagne",
                "Khawaja",
                "Renshaw",
                "Peirson",
                "Wildermuth",
                "Neser",
                "Steketee",
                "Xavier Bartlett",
                "Swepson"
            ],
            "squad_bench": [
                "Lachlan Pfeffer",
                "Blake Edwards",
                "Benji Floros",
                "Matthew Kuhnemann"
            ]
        },
        "team2": {
            "name": "Tasmania",
            "squad": [
                "Silk",
                "Doolan",
                "Wakim",
                "McDermott",
                "Doran",
                "Paine",
                "Webster",
                "Nathan Ellis",
                "Siddle",
                "Bird",
                "Riley Meredith"
            ],
            "squad_bench": [
                "Tim Ward",
                "Wright",
                "Rainbird",
                "Gabe Bell",
                "Andrews"
            ]
        },
        "toss": "Tasmania elect to bat",
        "type": "TEST",
        "venue_location": "Adelaide, Australia",
        "venue_name": "Park 25 No. 2"
    },
    {
        "id": "30584",
        "mchstate": "stump",
        "mnum": "1st Match",
        "official": {
            "referee": {
                "country": "AUS",
                "id": "6913",
                "name": "Bob Parry"
            },
            "umpire1": {
                "country": "AUS",
                "id": "9472",
                "name": "Michael Graham-Smith"
            },
            "umpire2": {
                "country": "AUS",
                "id": "11056",
                "name": "Donovan Marius Koch"
            }
        },
        "srs": "Sheffield Shield 2020-21",
        "start_time": "2020-10-10 00:30:00",
        "status": "Day 3: Stumps - Western AUS lead by 362 runs",
        "team1": {
            "name": "South Australia",
            "squad": [
                "Weatherald",
                "Henry Hunt",
                "Brad Davis",
                "Head",
                "Tom Cooper",
                "Harry Nielsen",
                "Liam Scott",
                "Winter",
                "Sayers",
                "Wes Agar",
                "Lloyd Pope"
            ],
            "squad_bench": [
                "Ferguson",
                "Conor McInerney",
                "Valente",
                "Luke Robins"
            ]
        },
        "team2": {
            "name": "Western Australia",
            "squad": [
                "Bancroft",
                "Whiteman",
                "Shaun Marsh",
                "Green",
                "Turner",
                "Agar",
                "Josh Inglis",
                "Joel Paris",
                "Kelly",
                "Gannon",
                "Lance Morris"
            ],
            "squad_bench": [
                "D Arcy Short",
                "Cartwright",
                "Liam Guthrie",
                "Rocchiccioli",
                "Hardie",
                "David Moody"
            ]
        },
        "toss": "Western Australia elect to bat",
        "type": "TEST",
        "venue_location": "Adelaide, South Australia, Australia",
        "venue_name": "Karen Rolton Oval"
    }
]

Load the json data stored in a variable with the help of load function and access the json data

In [ ]:
matchdata = json.loads(matches_data)

Check the data and the type of data present the variable after json loading

In [ ]:
print(matchdata)
print(type(matchdata))

[{'id': '30439', 'mchstate': 'inprogress', 'mnum': '28th Match', 'official': {'referee': {'country': 'IND', 'id': '8968', 'name': 'Vengalil Narayan Kutty'}, 'umpire1': {'country': 'ENG', 'id': '5398', 'name': 'Richard Illingworth'}, 'umpire2': {'country': 'IND', 'id': '8914', 'name': 'Krishnamachari Srinivasan'}, 'umpire3': {'country': 'IND', 'id': '8871', 'name': 'KN Anantha Padmanabhan'}}, 'srs': 'Indian Premier League 2020', 'start_time': '2020-10-12 14:00:00', 'status': 'RCB opt to bat', 'team1': {'name': 'Royal Challengers Bangalore', 'squad': ['Devdutt Padikkal', 'Finch', 'Kohli', 'de Villiers', 'Washington Sundar', 'Shivam Dube', 'Chris Morris', 'Udana', 'Navdeep Saini', 'Siraj', 'Chahal'], 'squad_bench': ['Moeen Ali', 'Negi', 'Zampa', 'Pavan Deshpande', 'Philippe', 'Shahbaz Ahmed', 'U Yadav', 'Steyn', 'Parthiv Patel', 'Gurkeerat Singh']}, 'team2': {'name': 'Kolkata Knight Riders', 'squad': ['Tripathi', 'Shubman Gill', 'Nitish Rana', 'Morgan', 'Karthik', 'Tom Banton', 'Russell', 'Cummins', 'K Nagarkoti', 'Prasidh', 'Chakravarthy'], 'squad_bench': ['Kuldeep Yadav', 'Warrier', 'Lad', 'Nikhil Naik', 'Chris Green', 'Ferguson', 'Rinku Singh', 'Ali Khan', 'Shivam Mavi', 'Manimaran Siddharth', 'Narine']}, 'toss': 'Royal Challengers Bangalore elect to bat', 'type': 'T20', 'venue_location': 'Sharjah, United Arab Emirates', 'venue_name': 'Sharjah Cricket Stadium'}, {'id': '30585', 'mchstate': 'stump', 'mnum': '2nd Match', 'official': {'referee': {'country': 'AUS', 'id': '8167', 'name': 'Bob Stratford'}, 'umpire1': {'country': 'AUS', 'id': '6841', 'name': 'Bruce Oxenford'}, 'umpire2': {'country': 'AUS', 'id': '12220', 'name': 'Darren Close'}}, 'srs': 'Sheffield Shield 2020-21', 'start_time': '2020-10-10 00:00:00', 'status': 'Day 3: Stumps - TAS trail by 193 runs', 'team1': {'name': 'Queensland', 'squad': ['Burns', 'Bryce Street', 'Labuschagne', 'Khawaja', 'Renshaw', 'Peirson', 'Wildermuth', 'Neser', 'Steketee', 'Xavier Bartlett', 'Swepson'], 'squad_bench': ['Lachlan Pfeffer', 'Blake Edwards', 'Benji Floros', 'Matthew Kuhnemann']}, 'team2': {'name': 'Tasmania', 'squad': ['Silk', 'Doolan', 'Wakim', 'McDermott', 'Doran', 'Paine', 'Webster', 'Nathan Ellis', 'Siddle', 'Bird', 'Riley Meredith'], 'squad_bench': ['Tim Ward', 'Wright', 'Rainbird', 'Gabe Bell', 'Andrews']}, 'toss': 'Tasmania elect to bat', 'type': 'TEST', 'venue_location': 'Adelaide, Australia', 'venue_name': 'Park 25 No. 2'}, {'id': '30584', 'mchstate': 'stump', 'mnum': '1st Match', 'official': {'referee': {'country': 'AUS', 'id': '6913', 'name': 'Bob Parry'}, 'umpire1': {'country': 'AUS', 'id': '9472', 'name': 'Michael Graham-Smith'}, 'umpire2': {'country': 'AUS', 'id': '11056', 'name': 'Donovan Marius Koch'}}, 'srs': 'Sheffield Shield 2020-21', 'start_time': '2020-10-10 00:30:00', 'status': 'Day 3: Stumps - Western AUS lead by 362 runs', 'team1': {'name': 'South Australia', 'squad': ['Weatherald', 'Henry Hunt', 'Brad Davis', 'Head', 'Tom Cooper', 'Harry Nielsen', 'Liam Scott', 'Winter', 'Sayers', 'Wes Agar', 'Lloyd Pope'], 'squad_bench': ['Ferguson', 'Conor McInerney', 'Valente', 'Luke Robins']}, 'team2': {'name': 'Western Australia', 'squad': ['Bancroft', 'Whiteman', 'Shaun Marsh', 'Green', 'Turner', 'Agar', 'Josh Inglis', 'Joel Paris', 'Kelly', 'Gannon', 'Lance Morris'], 'squad_bench': ['D Arcy Short', 'Cartwright', 'Liam Guthrie', 'Rocchiccioli', 'Hardie', 'David Moody']}, 'toss': 'Western Australia elect to bat', 'type': 'TEST', 'venue_location': 'Adelaide, South Australia, Australia', 'venue_name': 'Karen Rolton Oval'}]
<class 'list'>

Check the length of the data of the matches available ( no of matches)

In [ ]:
print(len(matchdata))

3

Create a list to store all the match id of all the IPL matches

In [ ]:
match_id_list = []

1. Iterate the list of all the matches and get the details of a match using for loop
2. Get all the match Ids in a list and get the playing 11 of team1 and team2 
data from the match

In [ ]:
for match in matchdata:
  
  if match['type'] == 'T20':

    print(match)
    match_id_list.append(match['id'])
    print(match_id_list)
    print(type(match))
    match_df =pd.DataFrame(match)
    print(match_df)
    print(type(match['team1']['squad']))
    team1_players = match['team1']['squad']
    team1_df = pd.DataFrame(team1_players, columns=['Players'])
    print(team1_df)
    team2_players = match['team2']['squad']
    team2_df = pd.DataFrame(team2_players, columns=['Players'])

    print(team2_df)

{'id': '30439', 'mchstate': 'inprogress', 'mnum': '28th Match', 'official': {'referee': {'country': 'IND', 'id': '8968', 'name': 'Vengalil Narayan Kutty'}, 'umpire1': {'country': 'ENG', 'id': '5398', 'name': 'Richard Illingworth'}, 'umpire2': {'country': 'IND', 'id': '8914', 'name': 'Krishnamachari Srinivasan'}, 'umpire3': {'country': 'IND', 'id': '8871', 'name': 'KN Anantha Padmanabhan'}}, 'srs': 'Indian Premier League 2020', 'start_time': '2020-10-12 14:00:00', 'status': 'RCB opt to bat', 'team1': {'name': 'Royal Challengers Bangalore', 'squad': ['Devdutt Padikkal', 'Finch', 'Kohli', 'de Villiers', 'Washington Sundar', 'Shivam Dube', 'Chris Morris', 'Udana', 'Navdeep Saini', 'Siraj', 'Chahal'], 'squad_bench': ['Moeen Ali', 'Negi', 'Zampa', 'Pavan Deshpande', 'Philippe', 'Shahbaz Ahmed', 'U Yadav', 'Steyn', 'Parthiv Patel', 'Gurkeerat Singh']}, 'team2': {'name': 'Kolkata Knight Riders', 'squad': ['Tripathi', 'Shubman Gill', 'Nitish Rana', 'Morgan', 'Karthik', 'Tom Banton', 'Russell', 'Cummins', 'K Nagarkoti', 'Prasidh', 'Chakravarthy'], 'squad_bench': ['Kuldeep Yadav', 'Warrier', 'Lad', 'Nikhil Naik', 'Chris Green', 'Ferguson', 'Rinku Singh', 'Ali Khan', 'Shivam Mavi', 'Manimaran Siddharth', 'Narine']}, 'toss': 'Royal Challengers Bangalore elect to bat', 'type': 'T20', 'venue_location': 'Sharjah, United Arab Emirates', 'venue_name': 'Sharjah Cricket Stadium'}
['30439']
<class 'dict'>
                id  ...               venue_name
referee      30439  ...  Sharjah Cricket Stadium
umpire1      30439  ...  Sharjah Cricket Stadium
umpire2      30439  ...  Sharjah Cricket Stadium
umpire3      30439  ...  Sharjah Cricket Stadium
name         30439  ...  Sharjah Cricket Stadium
squad        30439  ...  Sharjah Cricket Stadium
squad_bench  30439  ...  Sharjah Cricket Stadium

[7 rows x 13 columns]
<class 'list'>
              Players
0    Devdutt Padikkal
1               Finch
2               Kohli
3         de Villiers
4   Washington Sundar
5         Shivam Dube
6        Chris Morris
7               Udana
8       Navdeep Saini
9               Siraj
10             Chahal
         Players
0       Tripathi
1   Shubman Gill
2    Nitish Rana
3         Morgan
4        Karthik
5     Tom Banton
6        Russell
7        Cummins
8    K Nagarkoti
9        Prasidh
10  Chakravarthy

In [ ]:
team1_df

              Players
0    Devdutt Padikkal
1               Finch
2               Kohli
3         de Villiers
4   Washington Sundar
5         Shivam Dube
6        Chris Morris
7               Udana
8       Navdeep Saini
9               Siraj
10             Chahal

check the data present in the all the matches list

In [ ]:
match_df

                id  ...               venue_name
referee      30439  ...  Sharjah Cricket Stadium
umpire1      30439  ...  Sharjah Cricket Stadium
umpire2      30439  ...  Sharjah Cricket Stadium
umpire3      30439  ...  Sharjah Cricket Stadium
name         30439  ...  Sharjah Cricket Stadium
squad        30439  ...  Sharjah Cricket Stadium
squad_bench  30439  ...  Sharjah Cricket Stadium

[7 rows x 13 columns]

1. Use scorecard function to get the score card details of the match
2. Create a function which returns the match scorecard

In [ ]:
def scorecard(mid):
    c = Cricbuzz()
    score_card = c.scorecard(mid)
    match_score_data = json.dumps(score_card,indent=4, sort_keys=True)
    print(match_score_data)
    match_score = json.loads(match_score_data)
    return match_score

Call the scorecard function with match id parameter

30399 SRH MI

30404 CSK KXIP

30409 RCB DC 

30414 RR  MI 

30415 CSK KKR

30419 SRH KXIP

30420 DC RR

30424 KXIP KKR

CSK RCB

SRH RR

MI DC

In [ ]:
 match_score_card =scorecard('30429')

{
    "scorecard": [
        {
            "batcard": [
                {
                    "balls": "18",
                    "dismissal": " b Washington Sundar",
                    "fours": "3",
                    "name": "Watson",
                    "runs": "14",
                    "six": "0"
                },
                {
                    "balls": "10",
                    "dismissal": "c Chris Morris b Washington Sundar",
                    "fours": "0",
                    "name": "du Plessis",
                    "runs": "8",
                    "six": "0"
                },
                {
                    "balls": "40",
                    "dismissal": " b Udana",
                    "fours": "4",
                    "name": "Rayudu",
                    "runs": "42",
                    "six": "0"
                },
                {
                    "balls": "28",
                    "dismissal": "run out (Chris Morris) ",
                    "fours": "4",
                    "name": "N Jagadeesan",
                    "runs": "33",
                    "six": "0"
                },
                {
                    "balls": "6",
                    "dismissal": "c Gurkeerat Singh b Chahal",
                    "fours": "0",
                    "name": "Dhoni",
                    "runs": "10",
                    "six": "1"
                },
                {
                    "balls": "1",
                    "dismissal": "c de Villiers b Chris Morris",
                    "fours": "0",
                    "name": "Sam Curran",
                    "runs": "0",
                    "six": "0"
                },
                {
                    "balls": "6",
                    "dismissal": "c Gurkeerat Singh b Chris Morris",
                    "fours": "1",
                    "name": "Jadeja",
                    "runs": "7",
                    "six": "0"
                },
                {
                    "balls": "5",
                    "dismissal": "c Devdutt Padikkal b Chris Morris",
                    "fours": "0",
                    "name": "Dwayne Bravo",
                    "runs": "7",
                    "six": "0"
                },
                {
                    "balls": "5",
                    "dismissal": "not out",
                    "fours": "0",
                    "name": "Chahar",
                    "runs": "5",
                    "six": "0"
                },
                {
                    "balls": "1",
                    "dismissal": "not out",
                    "fours": "0",
                    "name": "Thakur",
                    "runs": "1",
                    "six": "0"
                }
            ],
            "batteam": "Chennai Super Kings",
            "bowlcard": [
                {
                    "maidens": "0",
                    "name": "Chris Morris",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "19",
                    "wickets": "3",
                    "wides": "0"
                },
                {
                    "maidens": "0",
                    "name": "Navdeep Saini",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "18",
                    "wickets": "0",
                    "wides": "3"
                },
                {
                    "maidens": "0",
                    "name": "Udana",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "30",
                    "wickets": "1",
                    "wides": "0"
                },
                {
                    "maidens": "0",
                    "name": "Washington Sundar",
                    "nballs": "0",
                    "overs": "3",
                    "runs": "16",
                    "wickets": "2",
                    "wides": "0"
                },
                {
                    "maidens": "0",
                    "name": "Chahal",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "35",
                    "wickets": "1",
                    "wides": "1"
                },
                {
                    "maidens": "0",
                    "name": "Shivam Dube",
                    "nballs": "0",
                    "overs": "1",
                    "runs": "14",
                    "wickets": "0",
                    "wides": "1"
                }
            ],
            "bowlteam": "Royal Challengers Bangalore",
            "extras": {
                "byes": "0",
                "lbyes": "0",
                "nballs": "0",
                "penalty": "0",
                "total": "5",
                "wides": "5"
            },
            "fall_wickets": [
                {
                    "name": "du Plessis",
                    "overs": "3.6",
                    "score": "19",
                    "wkt_num": "1"
                },
                {
                    "name": "Watson",
                    "overs": "5.4",
                    "score": "25",
                    "wkt_num": "2"
                },
                {
                    "name": "N Jagadeesan",
                    "overs": "14.2",
                    "score": "89",
                    "wkt_num": "3"
                },
                {
                    "name": "Dhoni",
                    "overs": "15.6",
                    "score": "106",
                    "wkt_num": "4"
                },
                {
                    "name": "Sam Curran",
                    "overs": "16.2",
                    "score": "107",
                    "wkt_num": "5"
                },
                {
                    "name": "Rayudu",
                    "overs": "17.3",
                    "score": "113",
                    "wkt_num": "6"
                },
                {
                    "name": "Dwayne Bravo",
                    "overs": "18.4",
                    "score": "122",
                    "wkt_num": "7"
                },
                {
                    "name": "Jadeja",
                    "overs": "18.6",
                    "score": "126",
                    "wkt_num": "8"
                }
            ],
            "inng_num": "2",
            "overs": "20",
            "runs": "132",
            "wickets": "8"
        },
        {
            "batcard": [
                {
                    "balls": "34",
                    "dismissal": "c du Plessis b Thakur",
                    "fours": "2",
                    "name": "Devdutt Padikkal",
                    "runs": "33",
                    "six": "1"
                },
                {
                    "balls": "9",
                    "dismissal": "b D Chahar",
                    "fours": "0",
                    "name": "Finch",
                    "runs": "2",
                    "six": "0"
                },
                {
                    "balls": "52",
                    "dismissal": "not out",
                    "fours": "4",
                    "name": "Kohli",
                    "runs": "90",
                    "six": "4"
                },
                {
                    "balls": "2",
                    "dismissal": "c Dhoni b Thakur",
                    "fours": "0",
                    "name": "de Villiers",
                    "runs": "0",
                    "six": "0"
                },
                {
                    "balls": "10",
                    "dismissal": "c Dhoni b Sam Curran",
                    "fours": "0",
                    "name": "Washington Sundar",
                    "runs": "10",
                    "six": "1"
                },
                {
                    "balls": "14",
                    "dismissal": "not out",
                    "fours": "2",
                    "name": "Shivam Dube",
                    "runs": "22",
                    "six": "1"
                }
            ],
            "batteam": "Royal Challengers Bangalore",
            "bowlcard": [
                {
                    "maidens": "0",
                    "name": "Chahar",
                    "nballs": "0",
                    "overs": "3",
                    "runs": "10",
                    "wickets": "1",
                    "wides": "1"
                },
                {
                    "maidens": "0",
                    "name": "Sam Curran",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "48",
                    "wickets": "1",
                    "wides": "5"
                },
                {
                    "maidens": "0",
                    "name": "Thakur",
                    "nballs": "1",
                    "overs": "4",
                    "runs": "40",
                    "wickets": "2",
                    "wides": "1"
                },
                {
                    "maidens": "0",
                    "name": "Dwayne Bravo",
                    "nballs": "0",
                    "overs": "3",
                    "runs": "29",
                    "wickets": "0",
                    "wides": "2"
                },
                {
                    "maidens": "0",
                    "name": "Karn Sharma",
                    "nballs": "0",
                    "overs": "4",
                    "runs": "34",
                    "wickets": "0",
                    "wides": "1"
                },
                {
                    "maidens": "0",
                    "name": "Jadeja",
                    "nballs": "0",
                    "overs": "2",
                    "runs": "7",
                    "wickets": "0",
                    "wides": "0"
                }
            ],
            "bowlteam": "Chennai Super Kings",
            "extras": {
                "byes": "0",
                "lbyes": "1",
                "nballs": "1",
                "penalty": "0",
                "total": "12",
                "wides": "10"
            },
            "fall_wickets": [
                {
                    "name": "Finch",
                    "overs": "2.5",
                    "score": "13",
                    "wkt_num": "1"
                },
                {
                    "name": "Devdutt Padikkal",
                    "overs": "10.2",
                    "score": "66",
                    "wkt_num": "2"
                },
                {
                    "name": "de Villiers",
                    "overs": "10.5",
                    "score": "67",
                    "wkt_num": "3"
                },
                {
                    "name": "Washington Sundar",
                    "overs": "14.3",
                    "score": "93",
                    "wkt_num": "4"
                }
            ],
            "inng_num": "1",
            "overs": "20",
            "runs": "169",
            "wickets": "4"
        }
    ]
}

Check the data and type of the data returned from the function

In [ ]:
print(match_score_card)
print(type(match_score_card))

{'scorecard': [{'batcard': [{'balls': '18', 'dismissal': ' b Washington Sundar', 'fours': '3', 'name': 'Watson', 'runs': '14', 'six': '0'}, {'balls': '10', 'dismissal': 'c Chris Morris b Washington Sundar', 'fours': '0', 'name': 'du Plessis', 'runs': '8', 'six': '0'}, {'balls': '40', 'dismissal': ' b Udana', 'fours': '4', 'name': 'Rayudu', 'runs': '42', 'six': '0'}, {'balls': '28', 'dismissal': 'run out (Chris Morris) ', 'fours': '4', 'name': 'N Jagadeesan', 'runs': '33', 'six': '0'}, {'balls': '6', 'dismissal': 'c Gurkeerat Singh b Chahal', 'fours': '0', 'name': 'Dhoni', 'runs': '10', 'six': '1'}, {'balls': '1', 'dismissal': 'c de Villiers b Chris Morris', 'fours': '0', 'name': 'Sam Curran', 'runs': '0', 'six': '0'}, {'balls': '6', 'dismissal': 'c Gurkeerat Singh b Chris Morris', 'fours': '1', 'name': 'Jadeja', 'runs': '7', 'six': '0'}, {'balls': '5', 'dismissal': 'c Devdutt Padikkal b Chris Morris', 'fours': '0', 'name': 'Dwayne Bravo', 'runs': '7', 'six': '0'}, {'balls': '5', 'dismissal': 'not out', 'fours': '0', 'name': 'Chahar', 'runs': '5', 'six': '0'}, {'balls': '1', 'dismissal': 'not out', 'fours': '0', 'name': 'Thakur', 'runs': '1', 'six': '0'}], 'batteam': 'Chennai Super Kings', 'bowlcard': [{'maidens': '0', 'name': 'Chris Morris', 'nballs': '0', 'overs': '4', 'runs': '19', 'wickets': '3', 'wides': '0'}, {'maidens': '0', 'name': 'Navdeep Saini', 'nballs': '0', 'overs': '4', 'runs': '18', 'wickets': '0', 'wides': '3'}, {'maidens': '0', 'name': 'Udana', 'nballs': '0', 'overs': '4', 'runs': '30', 'wickets': '1', 'wides': '0'}, {'maidens': '0', 'name': 'Washington Sundar', 'nballs': '0', 'overs': '3', 'runs': '16', 'wickets': '2', 'wides': '0'}, {'maidens': '0', 'name': 'Chahal', 'nballs': '0', 'overs': '4', 'runs': '35', 'wickets': '1', 'wides': '1'}, {'maidens': '0', 'name': 'Shivam Dube', 'nballs': '0', 'overs': '1', 'runs': '14', 'wickets': '0', 'wides': '1'}], 'bowlteam': 'Royal Challengers Bangalore', 'extras': {'byes': '0', 'lbyes': '0', 'nballs': '0', 'penalty': '0', 'total': '5', 'wides': '5'}, 'fall_wickets': [{'name': 'du Plessis', 'overs': '3.6', 'score': '19', 'wkt_num': '1'}, {'name': 'Watson', 'overs': '5.4', 'score': '25', 'wkt_num': '2'}, {'name': 'N Jagadeesan', 'overs': '14.2', 'score': '89', 'wkt_num': '3'}, {'name': 'Dhoni', 'overs': '15.6', 'score': '106', 'wkt_num': '4'}, {'name': 'Sam Curran', 'overs': '16.2', 'score': '107', 'wkt_num': '5'}, {'name': 'Rayudu', 'overs': '17.3', 'score': '113', 'wkt_num': '6'}, {'name': 'Dwayne Bravo', 'overs': '18.4', 'score': '122', 'wkt_num': '7'}, {'name': 'Jadeja', 'overs': '18.6', 'score': '126', 'wkt_num': '8'}], 'inng_num': '2', 'overs': '20', 'runs': '132', 'wickets': '8'}, {'batcard': [{'balls': '34', 'dismissal': 'c du Plessis b Thakur', 'fours': '2', 'name': 'Devdutt Padikkal', 'runs': '33', 'six': '1'}, {'balls': '9', 'dismissal': 'b D Chahar', 'fours': '0', 'name': 'Finch', 'runs': '2', 'six': '0'}, {'balls': '52', 'dismissal': 'not out', 'fours': '4', 'name': 'Kohli', 'runs': '90', 'six': '4'}, {'balls': '2', 'dismissal': 'c Dhoni b Thakur', 'fours': '0', 'name': 'de Villiers', 'runs': '0', 'six': '0'}, {'balls': '10', 'dismissal': 'c Dhoni b Sam Curran', 'fours': '0', 'name': 'Washington Sundar', 'runs': '10', 'six': '1'}, {'balls': '14', 'dismissal': 'not out', 'fours': '2', 'name': 'Shivam Dube', 'runs': '22', 'six': '1'}], 'batteam': 'Royal Challengers Bangalore', 'bowlcard': [{'maidens': '0', 'name': 'Chahar', 'nballs': '0', 'overs': '3', 'runs': '10', 'wickets': '1', 'wides': '1'}, {'maidens': '0', 'name': 'Sam Curran', 'nballs': '0', 'overs': '4', 'runs': '48', 'wickets': '1', 'wides': '5'}, {'maidens': '0', 'name': 'Thakur', 'nballs': '1', 'overs': '4', 'runs': '40', 'wickets': '2', 'wides': '1'}, {'maidens': '0', 'name': 'Dwayne Bravo', 'nballs': '0', 'overs': '3', 'runs': '29', 'wickets': '0', 'wides': '2'}, {'maidens': '0', 'name': 'Karn Sharma', 'nballs': '0', 'overs': '4', 'runs': '34', 'wickets': '0', 'wides': '1'}, {'maidens': '0', 'name': 'Jadeja', 'nballs': '0', 'overs': '2', 'runs': '7', 'wickets': '0', 'wides': '0'}], 'bowlteam': 'Chennai Super Kings', 'extras': {'byes': '0', 'lbyes': '1', 'nballs': '1', 'penalty': '0', 'total': '12', 'wides': '10'}, 'fall_wickets': [{'name': 'Finch', 'overs': '2.5', 'score': '13', 'wkt_num': '1'}, {'name': 'Devdutt Padikkal', 'overs': '10.2', 'score': '66', 'wkt_num': '2'}, {'name': 'de Villiers', 'overs': '10.5', 'score': '67', 'wkt_num': '3'}, {'name': 'Washington Sundar', 'overs': '14.3', 'score': '93', 'wkt_num': '4'}], 'inng_num': '1', 'overs': '20', 'runs': '169', 'wickets': '4'}]}
<class 'dict'>

Convert the dict to DataFrame and access the series data

In [ ]:
match_score_card_df = pd.DataFrame(match_score_card)
match_score_card_df

                                           scorecard
0  {'batcard': [{'balls': '18', 'dismissal': ' b ...
1  {'batcard': [{'balls': '34', 'dismissal': 'c d...

From the scorecard details, store the match details in each innings

In [ ]:
match_inn_1 = match_score_card_df.iloc[0]
match_inn_2 = match_score_card_df.iloc[1]

Check the inning data and its type

In [ ]:
print(match_inn_2)
print(type(match_inn_2))

scorecard    {'batcard': [{'balls': '34', 'dismissal': 'c d...
Name: 1, dtype: object
<class 'pandas.core.series.Series'>

Get the batting scorecard of both the inning and store in dataframe

In [ ]:
match_inn_1_bat = pd.DataFrame(match_inn_1.scorecard['batcard'])
match_inn_2_bat = pd.DataFrame(match_inn_2.scorecard['batcard'])

In [ ]:
print(match_inn_1_bat)
print(match_inn_2_bat)

  balls                           dismissal fours          name runs six
0    18                 b Washington Sundar     3        Watson   14   0
1    10  c Chris Morris b Washington Sundar     0    du Plessis    8   0
2    40                             b Udana     4        Rayudu   42   0
3    28             run out (Chris Morris)      4  N Jagadeesan   33   0
4     6          c Gurkeerat Singh b Chahal     0         Dhoni   10   1
5     1        c de Villiers b Chris Morris     0    Sam Curran    0   0
6     6    c Gurkeerat Singh b Chris Morris     1        Jadeja    7   0
7     5   c Devdutt Padikkal b Chris Morris     0  Dwayne Bravo    7   0
8     5                             not out     0        Chahar    5   0
9     1                             not out     0        Thakur    1   0
  balls              dismissal fours               name runs six
0    34  c du Plessis b Thakur     2   Devdutt Padikkal   33   1
1     9             b D Chahar     0              Finch    2   0
2    52                not out     4              Kohli   90   4
3     2       c Dhoni b Thakur     0        de Villiers    0   0
4    10   c Dhoni b Sam Curran     0  Washington Sundar   10   1
5    14                not out     2        Shivam Dube   22   1

Get the **bowling** scorecard of both the inning and store in dataframe

In [ ]:
match_inn_1_bowl = pd.DataFrame(match_inn_1.scorecard['bowlcard'])
match_inn_2_bowl = pd.DataFrame(match_inn_2.scorecard['bowlcard'])

In [ ]:
print(type(match_inn_1_bowl))
match_inn_1_bowl

<class 'pandas.core.frame.DataFrame'>

  maidens               name nballs overs runs wickets wides
0       0       Chris Morris      0     4   19       3     0
1       0      Navdeep Saini      0     4   18       0     3
2       0              Udana      0     4   30       1     0
3       0  Washington Sundar      0     3   16       2     0
4       0             Chahal      0     4   35       1     1
5       0        Shivam Dube      0     1   14       0     1

In [ ]:
match_inn_2_bowl

  maidens          name nballs overs runs wickets wides
0       0        Chahar      0     3   10       1     1
1       0    Sam Curran      0     4   48       1     5
2       0        Thakur      1     4   40       2     1
3       0  Dwayne Bravo      0     3   29       0     2
4       0   Karn Sharma      0     4   34       0     1
5       0        Jadeja      0     2    7       0     0

Get the points for the bowlers

In [ ]:
print(type(match_inn_1.scorecard['bowlcard']))
print(match_inn_1.scorecard['bowlcard'])
print(len(match_inn_1.scorecard['bowlcard']))

<class 'list'>
[{'maidens': '0', 'name': 'Chris Morris', 'nballs': '0', 'overs': '4', 'runs': '19', 'wickets': '3', 'wides': '0'}, {'maidens': '0', 'name': 'Navdeep Saini', 'nballs': '0', 'overs': '4', 'runs': '18', 'wickets': '0', 'wides': '3'}, {'maidens': '0', 'name': 'Udana', 'nballs': '0', 'overs': '4', 'runs': '30', 'wickets': '1', 'wides': '0'}, {'maidens': '0', 'name': 'Washington Sundar', 'nballs': '0', 'overs': '3', 'runs': '16', 'wickets': '2', 'wides': '0'}, {'maidens': '0', 'name': 'Chahal', 'nballs': '0', 'overs': '4', 'runs': '35', 'wickets': '1', 'wides': '1'}, {'maidens': '0', 'name': 'Shivam Dube', 'nballs': '0', 'overs': '1', 'runs': '14', 'wickets': '0', 'wides': '1'}]
6

In [ ]:
inng1_bowl_list = match_inn_1.scorecard['bowlcard']
print(inng1_bowl_list)
len_inng1_bowl_list =len(inng1_bowl_list)
inng2_bowl_list = match_inn_2.scorecard['bowlcard']
print(inng2_bowl_list)
len_inng2_bowl_list =len(inng2_bowl_list)

[{'maidens': '0', 'name': 'Chris Morris', 'nballs': '0', 'overs': '4', 'runs': '19', 'wickets': '3', 'wides': '0'}, {'maidens': '0', 'name': 'Navdeep Saini', 'nballs': '0', 'overs': '4', 'runs': '18', 'wickets': '0', 'wides': '3'}, {'maidens': '0', 'name': 'Udana', 'nballs': '0', 'overs': '4', 'runs': '30', 'wickets': '1', 'wides': '0'}, {'maidens': '0', 'name': 'Washington Sundar', 'nballs': '0', 'overs': '3', 'runs': '16', 'wickets': '2', 'wides': '0'}, {'maidens': '0', 'name': 'Chahal', 'nballs': '0', 'overs': '4', 'runs': '35', 'wickets': '1', 'wides': '1'}, {'maidens': '0', 'name': 'Shivam Dube', 'nballs': '0', 'overs': '1', 'runs': '14', 'wickets': '0', 'wides': '1'}]
[{'maidens': '0', 'name': 'Chahar', 'nballs': '0', 'overs': '3', 'runs': '10', 'wickets': '1', 'wides': '1'}, {'maidens': '0', 'name': 'Sam Curran', 'nballs': '0', 'overs': '4', 'runs': '48', 'wickets': '1', 'wides': '5'}, {'maidens': '0', 'name': 'Thakur', 'nballs': '1', 'overs': '4', 'runs': '40', 'wickets': '2', 'wides': '1'}, {'maidens': '0', 'name': 'Dwayne Bravo', 'nballs': '0', 'overs': '3', 'runs': '29', 'wickets': '0', 'wides': '2'}, {'maidens': '0', 'name': 'Karn Sharma', 'nballs': '0', 'overs': '4', 'runs': '34', 'wickets': '0', 'wides': '1'}, {'maidens': '0', 'name': 'Jadeja', 'nballs': '0', 'overs': '2', 'runs': '7', 'wickets': '0', 'wides': '0'}]

Create a list to get all the player(bowlers) names

In [ ]:
player_inng1_bowl_list = [inng1_bowl_list[i]['name']  for i in range(0,len_inng1_bowl_list)]
print(player_inng1_bowl_list)
player_inng2_bowl_list = [inng2_bowl_list[i]['name']  for i in range(0,len_inng2_bowl_list)]
print(player_inng2_bowl_list)

['Chris Morris', 'Navdeep Saini', 'Udana', 'Washington Sundar', 'Chahal', 'Shivam Dube']
['Chahar', 'Sam Curran', 'Thakur', 'Dwayne Bravo', 'Karn Sharma', 'Jadeja']

Create a list to get all the points scored by taking wickets

In [ ]:
points_inng1_bowl_list = [int(inng1_bowl_list[i]['wickets']) for i in range(0,len_inng1_bowl_list)]
print(points_inng1_bowl_list)
for j, item in enumerate(points_inng1_bowl_list):
  if item >=3:
    twice_item = item*2*20
    points_inng1_bowl_list[j] = twice_item
  elif item >=5:
    thrice_item = item*3*20
    points_inng1_bowl_list[j] = thrice_item
  elif item < 3:
    points_inng1_bowl_list[j] = item*20

print(points_inng1_bowl_list)

[3, 0, 1, 2, 1, 0]
[120, 0, 20, 40, 20, 0]

In [ ]:
points_inng2_bowl_list = [int(inng2_bowl_list[i]['wickets']) for i in range(0,len_inng2_bowl_list)]
print(points_inng2_bowl_list)
for j, item in enumerate(points_inng2_bowl_list):
  if item >=3:
    twice_item = item*2*20
    points_inng2_bowl_list[j] = twice_item
  elif item >=5:
    thrice_item = item*3*20
    points_inng2_bowl_list[j] = thrice_item
  elif item < 3:
    points_inng2_bowl_list[j] = item*20

print(points_inng2_bowl_list)

[1, 1, 2, 0, 0, 0]
[20, 20, 40, 0, 0, 0]

Create a list to check if the bowler has given more than or equal to 45 runs, if yes, player gets minus 50 added to the points tally

In [ ]:
check_points_inng1_bowl_list = [int(inng1_bowl_list[i]['runs']) for i in range(0,len_inng1_bowl_list)]
print(check_points_inng1_bowl_list)
for j, item in enumerate(check_points_inng1_bowl_list):
  if item >= 45:
    minus_item = -50
    check_points_inng1_bowl_list[j] = minus_item
  elif item < 45:
    check_points_inng1_bowl_list[j] = 0

print(check_points_inng1_bowl_list)

[19, 18, 30, 16, 35, 14]
[0, 0, 0, 0, 0, 0]

In [ ]:
check_points_inng2_bowl_list = [int(inng2_bowl_list[i]['runs']) for i in range(0,len_inng2_bowl_list)]
print(check_points_inng2_bowl_list)
for j, item in enumerate(check_points_inng2_bowl_list):
  if item >= 45:
    minus_item = -50
    check_points_inng2_bowl_list[j] = minus_item
  elif item < 45:
    check_points_inng2_bowl_list[j] = 0

print(check_points_inng2_bowl_list)

[10, 48, 40, 29, 34, 7]
[0, -50, 0, 0, 0, 0]

Create a list to check if the bowler has bowled maiden over, if yes, added plus 50 to the points tally per maiden

In [ ]:
maiden_points_inng1_bowl_list = [int(inng1_bowl_list[i]['maidens']) for i in range(0,len_inng1_bowl_list)]
print(maiden_points_inng1_bowl_list)
for j, item in enumerate(maiden_points_inng1_bowl_list):
    maiden_points_inng1_bowl_list[j] = item * 50

print(maiden_points_inng1_bowl_list)

[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]

In [ ]:
maiden_points_inng2_bowl_list = [int(inng2_bowl_list[i]['maidens']) for i in range(0,len_inng2_bowl_list)]
print(maiden_points_inng2_bowl_list)
for j, item in enumerate(maiden_points_inng2_bowl_list):
    maiden_points_inng2_bowl_list[j] = item * 50

print(maiden_points_inng2_bowl_list)

[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]

Add all the points scored by the player

In [ ]:
inng1_bowl_total_points = points_inng1_bowl_list + maiden_points_inng1_bowl_list + check_points_inng1_bowl_list
print(inng1_bowl_total_points)
inng1_bowl_total_points = points_inng2_bowl_list + maiden_points_inng2_bowl_list + check_points_inng2_bowl_list
print(inng1_bowl_total_points)

[120, 0, 20, 40, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[20, 20, 40, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -50, 0, 0, 0, 0]

Create a dict to combine all the list of the bowler player and points details

In [ ]:
inng1_bowl_points_dict = {'Players': player_inng1_bowl_list, 
        'Wicket Points': points_inng1_bowl_list,
        'Maiden Points': maiden_points_inng1_bowl_list,
        'Runs Points' : check_points_inng1_bowl_list
         }  
inng1_bowl_points_df = pd.DataFrame.from_dict(inng1_bowl_points_dict)
print(inng1_bowl_points_df)

inng2_bowl_points_dict = {'Players': player_inng2_bowl_list, 
        'Wicket Points': points_inng2_bowl_list,
        'Maiden Points': maiden_points_inng2_bowl_list,
        'Runs Points' : check_points_inng2_bowl_list
         }   
inng2_bowl_points_df = pd.DataFrame.from_dict(inng2_bowl_points_dict)
print(inng2_bowl_points_df)

             Players  Wicket Points  Maiden Points  Runs Points
0       Chris Morris            120              0            0
1      Navdeep Saini              0              0            0
2              Udana             20              0            0
3  Washington Sundar             40              0            0
4             Chahal             20              0            0
5        Shivam Dube              0              0            0
        Players  Wicket Points  Maiden Points  Runs Points
0        Chahar             20              0            0
1    Sam Curran             20              0          -50
2        Thakur             40              0            0
3  Dwayne Bravo              0              0            0
4   Karn Sharma              0              0            0
5        Jadeja              0              0            0

Calculate Total points using data from dataframe

In [ ]:
inng1_bowl_points_df['Points'] = inng1_bowl_points_df['Wicket Points'] + inng1_bowl_points_df['Maiden Points'] + inng1_bowl_points_df['Runs Points']

In [ ]:
inng1_bowl_points_df

             Players  Wicket Points  Maiden Points  Runs Points  Points
0       Chris Morris            120              0            0     120
1      Navdeep Saini              0              0            0       0
2              Udana             20              0            0      20
3  Washington Sundar             40              0            0      40
4             Chahal             20              0            0      20
5        Shivam Dube              0              0            0       0

In [ ]:
inng2_bowl_points_df['Points'] = inng2_bowl_points_df['Wicket Points'] + inng2_bowl_points_df['Maiden Points'] + inng2_bowl_points_df['Runs Points']

In [ ]:
inng2_bowl_points_df

        Players  Wicket Points  Maiden Points  Runs Points  Points
0        Chahar             20              0            0      20
1    Sam Curran             20              0          -50     -30
2        Thakur             40              0            0      40
3  Dwayne Bravo              0              0            0       0
4   Karn Sharma              0              0            0       0
5        Jadeja              0              0            0       0

In [ ]:
inng1_bowl_points_calc_df = inng1_bowl_points_df[['Players', 'Points']]

In [ ]:
inng2_bow2_points_calc_df = inng2_bowl_points_df[['Players', 'Points']]

In [ ]:
inng1_bowl_points_calc_df

             Players  Points
0       Chris Morris     120
1      Navdeep Saini       0
2              Udana      20
3  Washington Sundar      40
4             Chahal      20
5        Shivam Dube       0

In [ ]:
inng2_bow2_points_calc_df

        Players  Points
0        Chahar      20
1    Sam Curran     -30
2        Thakur      40
3  Dwayne Bravo       0
4   Karn Sharma       0
5        Jadeja       0

Convert the runs string to int to calculate the points

In [ ]:
match_inn_1_bat['runs'] = pd.to_numeric(match_inn_1_bat['runs'])
match_inn_2_bat['runs'] = pd.to_numeric(match_inn_2_bat['runs'])

Iterate team 1 and team 2 squad data frame to access the player

In [ ]:
players_inng1 = [ i for i in match_inn_1_bat['name']]
print(players_inng1)
players_inng2 = [ i for i in match_inn_2_bat['name']]
print(players_inng2)

['Watson', 'du Plessis', 'Rayudu', 'N Jagadeesan', 'Dhoni', 'Sam Curran', 'Jadeja', 'Dwayne Bravo', 'Chahar', 'Thakur']
['Devdutt Padikkal', 'Finch', 'Kohli', 'de Villiers', 'Washington Sundar', 'Shivam Dube']

In [ ]:
runs_inng1 = [ int(i) for i in match_inn_1_bat['runs']]
print(runs_inng1)
runs_inng2 = [ int(i) for i in match_inn_2_bat['runs']]
print(runs_inng2)

[14, 8, 42, 33, 10, 0, 7, 7, 5, 1]
[33, 2, 90, 0, 10, 22]

Calculate the points for the runs scored in the first innings

In [ ]:
points_inng1 = []
for i in runs_inng1:

  #Convert runs to points
  if i < 50 and i >= 0:
    points_inng1.append(i)
  elif i >= 50 and i<= 100:
    points_inng1.append(i*2)
  elif i > 100:
    points_inng1.append(i*3)


print(points_inng1)

[14, 8, 42, 33, 10, 0, 7, 7, 5, 1]

Iterate throught the list to get the player out on zero and assign minus 50

Calculate the points for the runs scored in the **second** innings

In [ ]:
points_inng2 = []
for i in runs_inng2:

  #Convert runs to points
  if i < 50 and i >= 0:
    points_inng2.append(i)
  elif i > 50 and i<= 100:
    points_inng2.append(i*2)
  elif i > 100:
    points_inng2.append(i*3)

print(points_inng2)

[33, 2, 180, 0, 10, 22]

Create dict for the match by combining player and the points scored

In [ ]:
inng1_bat_points_dict = {'Players': players_inng1, 
        'Points': points_inng1}  
print(inng1_bat_points_dict)
inng1_bat_points_df = pd.DataFrame.from_dict(inng1_bat_points_dict)
inng2_bat_points_dict = {'Players': players_inng2, 
        'Points': points_inng2}
inng2_bat_points_df = pd.DataFrame.from_dict(inng2_bat_points_dict)

{'Players': ['Watson', 'du Plessis', 'Rayudu', 'N Jagadeesan', 'Dhoni', 'Sam Curran', 'Jadeja', 'Dwayne Bravo', 'Chahar', 'Thakur'], 'Points': [14, 8, 42, 33, 10, 0, 7, 7, 5, 1]}

In [ ]:
inng1_bat_points_df

        Players  Points
0        Watson      14
1    du Plessis       8
2        Rayudu      42
3  N Jagadeesan      33
4         Dhoni      10
5    Sam Curran       0
6        Jadeja       7
7  Dwayne Bravo       7
8        Chahar       5
9        Thakur       1

In [ ]:
inng2_bat_points_df

             Players  Points
0   Devdutt Padikkal      33
1              Finch       2
2              Kohli     180
3        de Villiers       0
4  Washington Sundar      10
5        Shivam Dube      22

Calculate the points for the fielders from the Dismissal field

Calculate the points for the dismissal with caught having player name stored in list, sub player name and caught and bowled stored in the list as well

In [ ]:
def get_c_player_name(c_df):
    if c_df[0] == 'c':
      index_b = c_df.find(' b ')
      
      #print(type(index_b))
      #print(index_b)
      c_player_name = c_df[2:index_b]
      c_n_b = c_df[index_b + 3:]
      if c_player_name.startswith('('):
        #print('sub player is {}'.format(c_player_name))
        c_player_name_list.append(c_player_name[5:])
      elif c_player_name.startswith('and'):
        c_player_name_list.append(c_n_b)
      elif c_player_name.startswith('&'):
        c_player_name_list.append(c_n_b)

      else:  
        c_player_name_list.append(c_player_name)
    
    return c_player_name_list

Function for calculating stumping points

In [ ]:
def get_s_player_name(c_df):
    if c_df[0] == 's':
      index_s = c_df.find(' b ')
      s_player_name = c_df[3:index_s]
      s_player_name_list.append(s_player_name)
      
    return s_player_name_list

In [ ]:
inng1_dismissal_points = [i for i in match_inn_1_bat['dismissal'] if i.strip() != 'not out']
print(inng1_dismissal_points)
inng2_dismissal_points = [i for i in match_inn_2_bat['dismissal'] if i.strip() != 'not out']
print(inng2_dismissal_points)

inng_dismissal_points = inng1_dismissal_points + inng2_dismissal_points
print(inng_dismissal_points)

c_player_name_list=[]
s_player_name_list=[]

for i in inng_dismissal_points:
  get_c_player_name(i)
  get_s_player_name(i)

  c_player_points_dict = {'Players': c_player_name_list, 
        'Points': 10}  
  c_player_points_df = pd.DataFrame.from_dict(c_player_points_dict)

  s_player_points_dict = {'Players': s_player_name_list, 
        'Points': 20}  
  s_player_points_df = pd.DataFrame.from_dict(s_player_points_dict)

print(c_player_points_df)
print(c_player_name_list)

print(s_player_points_df)
print(s_player_name_list)

[' b Washington Sundar', 'c Chris Morris b Washington Sundar', ' b Udana', 'run out (Chris Morris) ', 'c Gurkeerat Singh b Chahal', 'c de Villiers b Chris Morris', 'c Gurkeerat Singh b Chris Morris', 'c Devdutt Padikkal b Chris Morris']
['c du Plessis b Thakur', 'b D Chahar', 'c Dhoni b Thakur', 'c Dhoni b Sam Curran']
[' b Washington Sundar', 'c Chris Morris b Washington Sundar', ' b Udana', 'run out (Chris Morris) ', 'c Gurkeerat Singh b Chahal', 'c de Villiers b Chris Morris', 'c Gurkeerat Singh b Chris Morris', 'c Devdutt Padikkal b Chris Morris', 'c du Plessis b Thakur', 'b D Chahar', 'c Dhoni b Thakur', 'c Dhoni b Sam Curran']
            Players  Points
0      Chris Morris      10
1   Gurkeerat Singh      10
2       de Villiers      10
3   Gurkeerat Singh      10
4  Devdutt Padikkal      10
5        du Plessis      10
6             Dhoni      10
7             Dhoni      10
['Chris Morris', 'Gurkeerat Singh', 'de Villiers', 'Gurkeerat Singh', 'Devdutt Padikkal', 'du Plessis', 'Dhoni', 'Dhoni']
Empty DataFrame
Columns: [Players, Points]
Index: []
[]

Calculate points for not out

In [ ]:
not_out_player_points_list_inn1 = [ i for i in match_inn_1_bat[match_inn_1_bat['dismissal'] == 'not out']['name'] ] 
print(not_out_player_points_list_inn1)
not_out_player_points_list_inn2 = [ i for i in match_inn_2_bat[match_inn_2_bat['dismissal'] == 'not out']['name'] ] 
print(not_out_player_points_list_inn2)

['Chahar', 'Thakur']
['Kohli', 'Shivam Dube']

Combine both the list of not out player obtained from both the innings and create a data frame with points obtained as 10

In [ ]:
not_out_player_points_list = not_out_player_points_list_inn1 + not_out_player_points_list_inn2
not_out_player_points_dict = {'Players': not_out_player_points_list, 
        'Points': 10}  
not_out_player_points_df = pd.DataFrame.from_dict(not_out_player_points_dict)
print(not_out_player_points_df)

       Players  Points
0       Chahar      10
1       Thakur      10
2        Kohli      10
3  Shivam Dube      10

In [ ]:
match_inn_2_bat = pd.DataFrame(match_inn_2.scorecard['batcard'])

In [ ]:
print(match_inn_2_bat)

  balls              dismissal fours               name runs six
0    34  c du Plessis b Thakur     2   Devdutt Padikkal   33   1
1     9             b D Chahar     0              Finch    2   0
2    52                not out     4              Kohli   90   4
3     2       c Dhoni b Thakur     0        de Villiers    0   0
4    10   c Dhoni b Sam Curran     0  Washington Sundar   10   1
5    14                not out     2        Shivam Dube   22   1

In [ ]:
all_df = [inng1_bowl_points_calc_df, inng2_bow2_points_calc_df, inng1_bat_points_df , inng2_bat_points_df , c_player_points_df, s_player_points_df , not_out_player_points_df]

In [ ]:
inng1_bowl_points_calc_df

             Players  Points
0       Chris Morris     120
1      Navdeep Saini       0
2              Udana      20
3  Washington Sundar      40
4             Chahal      20
5        Shivam Dube       0

In [ ]:
total_points_df = pd.concat(all_df, ignore_index=False)

In [ ]:
total_points_df.groupby(by=['Players']).sum()

                   Points
Players
Chahal                 20
Chahar                 35
Chris Morris          130
Devdutt Padikkal       43
Dhoni                  30
Dwayne Bravo            7
Finch                   2
Gurkeerat Singh        20
Jadeja                  7
Karn Sharma             0
Kohli                 190
N Jagadeesan           33
Navdeep Saini           0
Rayudu                 42
Sam Curran            -30
Shivam Dube            32
Thakur                 51
Udana                  20
Washington Sundar      50
Watson                 14
de Villiers            10
du Plessis             18

In [ ]:
total_points_df

             Players  Points
0       Chris Morris     120
1      Navdeep Saini       0
2              Udana      20
3  Washington Sundar      40
4             Chahal      20
5        Shivam Dube       0
0             Chahar      20
1         Sam Curran     -30
2             Thakur      40
3       Dwayne Bravo       0
4        Karn Sharma       0
5             Jadeja       0
0             Watson      14
1         du Plessis       8
2             Rayudu      42
3       N Jagadeesan      33
4              Dhoni      10
5         Sam Curran       0
6             Jadeja       7
7       Dwayne Bravo       7
8             Chahar       5
9             Thakur       1
0   Devdutt Padikkal      33
1              Finch       2
2              Kohli     180
3        de Villiers       0
4  Washington Sundar      10
5        Shivam Dube      22
0       Chris Morris      10
1    Gurkeerat Singh      10
2        de Villiers      10
3    Gurkeerat Singh      10
4   Devdutt Padikkal      10
5         du Plessis      10
6              Dhoni      10
7              Dhoni      10
0             Chahar      10
1             Thakur      10
2              Kohli      10
3        Shivam Dube      10